
.nav-options {
    width: 100%;
    padding: 0.1rem;
    display: flex;
    
    justify-content: space-evenly;
    background-color: #fff;
    border: thin solid #ccc;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-bottom: 2px;
    position: sticky;
    top: 0;
    z-index: 1;
    cursor:pointer;

    .nav-item{
          font-family: 'Nunito Sans', sans-serif;
          // font-weight: bold;
    }
  
    .nav-item::after {
      content: "";
      display: block;
      width: 0px;
      height: 2px;
      background: #fec400;
      transition: 0.4s;
    }

    .nav-item:hover::after {
      width: 100%;
    }
    .active {
          
      border-bottom: 2px solid #fec400;
    }
  }
  .news-list{
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 0.5rem 2rem;
  }
  
  @media only screen and (max-width: 425px){
          .nav-options{
                    font-size: 0.75rem;
          }
  }
  