<section class="nav-options">
    <span class="nav-item " (click)="topClicked()">Trending</span>
    <span class="nav-item" (click)="businessClicked()">Business</span>
    <span class="nav-item" (click)="technologyClicked()">Technology</span>
    <span class="nav-item" (click)="entertainmentClicked()">Entertainment</span>
    <span class="nav-item" (click)="scienceClicked()">Science</span>
  </section>
<app-carousel [slides]="news"></app-carousel>
<app-news-tiles [newsList]="news"></app-news-tiles>