<app-admin-navbar></app-admin-navbar>
<div class="admin-page-container">
    <div class="news-form-container">
        <form [formGroup]="newsForm" class="news-form" (ngSubmit)="submitNewsForm(newsForm)">

            <div class="container" *ngFor="let field of formFields">
                <div class="form-field" *ngIf="field!= 'category'">
                    <label for="{{field}}">{{field}}</label>
                    <input class="input-field" placeholder="Enter {{field}}" formControlName="{{field}}"
                        name="{{field}}">
                </div>

                <div class="form-field" *ngIf="field=='category'">
                    <label for="{{field}}">{{field}}</label>
                    <select class="input-field" formControlName="category">
                        <option value="{{category}}" *ngFor="let category of categoryList"> {{category}} </option>
                    </select>
                </div>
            </div>

            <button mat-stroked-button class="submit-btn" type="submit">
                Add News
            </button>
        </form>
    </div>  
</div>