<app-navbar></app-navbar>
<main class="news-container">
          <div class="news-img" [ngStyle]="setGradient()">
                    <!-- <img src="assets/images/Mobile-login-Cristina.jpg" alt="" class="background-img"> -->
                    <div class="news-title">
                              <h2>{{news.title}}</h2>
                              <p>source: {{news.source_id}}</p>
                    </div>
          </div>
          <div class="news">
                    <section class="news-content">
                              <p>{{news.content}}</p>
                    </section>
                    <aside class="related-news">
                              <h2>Related News</h2>
                    </aside>

          </div>

</main>