<footer class="news-footer">
          <section class="website-name">
                    <span class="material-icons logo">article</span>
                    <h2>NewsToday</h2>
          </section>
          <div class="copyright">
                    <p>Copyright </p>
                    <i class="material-icons">copyright</i>
                    <p> 2022 NewsToday, Inc.</p>
          </div>
          <div class="footer-links">
                    <p>Privacy Policy</p>
                    <p>About Us</p>
                    <p>Contact Us</p>
          </div>
          <div>
                    <i class='fab fa-instagram fa-border fa-3x'></i>
          </div>
</footer>
