<div class="news-tiles-container">
  <div class="news-tile" *ngFor="let item of newsList" (click)="openNews(item)">
    <img class="tile-img" [src]="item.image_url" />
    <div class="news-content">
      <h4 class="news-title">{{ item.title }}</h4>
      
      <div class="chip-container">
        <mat-chip-list aria-label="Fish selection" class="chip" *ngFor="let ele of item.category">
          <mat-chip [ngStyle]="changeColor(ele)">{{ ele | titlecase }}</mat-chip>
        </mat-chip-list>
      </div>
    </div>
  </div>
</div>