.news-tiles-container {
  width: 50%;
  left: 0;

  .news-tile {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    padding: 0.3rem;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    .currentall {
      color: white;
      background-color: 2px solid #ac92eb;
    }

    .currenttop {
      color: white;
      background-color: 2px solid #fec400;
    }

    .currentbusiness {
      color: white;
      background-color: 2px solid #4fc1e8;
    }

    .currenttechnology {
      color: white;
      background-color: 2px solid #a0d568;
    }

    .currententertainment {
      color: white;
      background-color: 2px solid #ed5564;
    }

    .currentscience {
      color: white;
      background-color: 2px solid #6e7889;
    }

    .news-title {
      font-weight: bold;
    }

    .news-content {
      position: relative;

      .chip-container {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        gap: 0.25rem;
      }
    }

    .tile-img {
      height: 100px;
      width: 100px;
      //   transform: translateX(50%);
      border-radius: 4px;

      img {
        object-fit: contain;
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  .news-tiles-container {
    .news-tile {
      .news-title {
        font-size: 0.75rem;
      }

      .tile-img {
        height: 5rem;
        width: 5rem;
      }
    }
  }
}
