.news-tiles-container {
  // background-color: #ccc;
  width: 50%;
  left: 0;
  // border: thin solid black;

  .news-tile {
    display: flex;
    justify-content: flex-start;
    // text-align: center;

    gap: 2rem;
    padding: 0.3rem;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    .news-title {
      font-weight: bold;
    }
    .news-content{
        position: relative;
        .chip{
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }


    .tile-img {
      height: 100px;
      width: 100px;
    //   transform: translateX(50%);
      border-radius: 4px;
      img {
        object-fit: contain;
      }
    }
  }
}
@media only screen and (max-width: 425px) {
  .news-tiles-container {
    .news-tile {
      
      .news-title {
        
        font-size: 0.75rem;
      }
      .tile-img {
        height: 5rem;
        width: 5rem;
      }
    }
  }
}
