h2 {
  margin: 0;
}
.navbar {
  width: 100%;
  padding: 0;
}

.navbar-header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  border-bottom: thin solid #ccc;
  background-color: black;
  color: white;

  .logo {
    align-self: center;
    font-size: 3rem;
  }

  .news-brand {
    display: flex;
    gap: 0.75rem;
    align-content: center;
    width: 100%;
    padding: 0.5em;
    font-size: 1rem;

    .navbar-brand {
      font-family: "Playfair Display", serif;
      font-weight: 800;
      font-size: 3rem;
      text-transform: uppercase;
      display: inline-block;
      // padding-top: 1.5rem;
      line-height: 4rem;
      // margin-bottom: 20px; 
      color: white;
    }

    .time-date {
      display: flex;
      color: #ccc;
      font-family: "Space Grotesk", sans-serif;
      font-size: 0.75rem;    
    }
  }

  .search {
    display: flex;
    align-items: center;
    padding: 0.5rem;

    .search-bar {
      padding: 0.25rem;
      border-radius: 4px;
    }
    ::ng-deep .mat-form-field-label {
      color: white;
    }
    ::ng-deep .mat-focused .mat-form-field-label {
      color: white !important;
    }
    ::ng-deep.mat-form-field-underline {
      background-color: white !important;
    }
    ::ng-deep.mat-form-field-ripple {
      background-color: white !important;
    }
  }
}
@media only screen and (max-width: 425px) {
  .navbar-header {
    .news-brand {
      gap: 0.25rem;
      .logo {
        font-size: 1.5rem;
      }
      .navbar-brand {
        font-size: 1.5rem;
      }
    }
    .search {
      .search-bar {
        width: 80%;
        height: 1.5rem;
      }
      .search-icon {
        font-size: 1.5rem;
      }
    }
  }
}
