<nav class="navbar navbar-default" role="navigation">
  <section class="navbar-header">
    <div class="news-brand">
      <span class="material-icons logo">article</span>
      <h2 class="navbar-brand" href="#">NewsToday</h2>
    </div>

    <div class="search">
      <input type="text" class="search-bar" placeholder="search...">
      <span class="material-symbols-outlined search-icon"> search </span>
    </div>
  </section>

  <!-- <section class="nav-options">
    <span class="nav-item active" (click)="topClicked()">Trending</span>
    <span class="nav-item" >Business</span>
    <span class="nav-item" >Technology</span>
    <span class="nav-item">Entertainment</span>
    <span class="nav-item">Science</span>
  </section> -->
</nav>
